body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  background-color: mintcream;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#name1,
#name2 {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: block;
}

.board {
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 400px;
  height: 400px;
  gap: 0px;
  background-color: orange;
  display: none;
  border-radius: 8px;
}

.board-active {
  display: flex;
}

.box {
  background-color: pink;
  border: 1px orange solid;
  width: 32%;
  height: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
}

#results {
  margin: 20px;
  height: 40px;
  font-size: 24px;
  font-weight: bolder;
}

#game-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start-hidden {
  display: none;
}

#reset {
  display: none;
}

#reset-show {
  display: block;
}
